body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.logo {
    display: block;
    margin: 0 auto; /* Centra horizontalmente el logotipo */
    width: 150px; /* Ajusta el ancho según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin-bottom: 20px; /* Agrega espacio entre el logotipo y el título */
}
