body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo-container img {
    width: 80px;
    height: 80px;
}

.logo-container h1 {
    display: inline;
    margin-left: 10px;
}

.info-box {
    background-color: #fff;
    color: #333;
    padding: 30px;
    margin-top: 30px;
}

.buttons-container {
    text-align: center;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

/* ... (tu código CSS existente) ... */

.image-mosaic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.image-mosaic img {
    width: 30%;
    margin: 5px;
}

.about-us {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

/* ... (tu código CSS existente) ... */
.team-photos {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.knowledge-list {
    margin-top: 10px;
}

.knowledge-list h5 {
    font-weight: bold;
    margin-bottom: 5px;
}

.knowledge-list ol {
    list-style-type: decimal;
    margin-left: 20px;
}

/* Agrega este código al final de tu archivo styles.css */

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    display: inline-block;
}

.dropbtn {
    background-color: #2a234b;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #2980B9;
}
.team-photos {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.team-member {
    text-align: center;
    width: 30%; /* Ajusta según sea necesario para el espacio deseado entre los elementos */
}

.team-member img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.member-details {
    text-align: left;
    padding: 0 10px;
}

.knowledge-list {
    margin-top: 10px;
}

.knowledge-list h5 {
    font-weight: bold;
    margin-bottom: 5px;
}

.knowledge-list ol {
    list-style-type: decimal;
    margin-left: 20px;
}