body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#login-container {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#logo {
    text-align: center;
    margin-bottom: 20px;
}

#logo img {
    width: 250px; /* Ajusta el tamaño según tu necesidad */
}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#login-form button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #555;
}
