/* Puedes agregar estilos según sea necesario */
.banner {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
}

#registrationForm {
    max-width: 400px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
