body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: hsl(207, 79%, 48%);
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
}

#logo {
  position: absolute;
  left: 10px;
  top: 10px;
  max-width: 100px; /* Ajusta el tamaño según sea necesario */
  height: auto;
}

h1 {
  margin-top: 30px; /* Ajusta el espacio entre el logo y el texto según sea necesario */
}

nav {
  background-color: hsl(207, 79%, 48%);
  color: white;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

main {
  margin: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  background-color: hsl(207, 79%, 48%);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: hsl(207, 79%, 48%);
  color: white;
  text-align: center;
  padding: 9px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
